<div class="container" id="customers">

    <!--Add customer region-->
    <div class="row">
        <div class="col-md-12">
            <h2>Customers</h2>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group ">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon input-control-radius">
                        <i class="text-muted glyphicon glyphicon-star">
                        </i>
                    </span>
                    <input type="text" class="form-control input-control-radius" id="firstname" name="firstname"
                           placeholder="firstname" data-ng-model="newCustomer.firstname"/>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group ">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon input-control-radius">
                        <i class="text-muted glyphicon glyphicon-star"></i>
                    </span>
                    <input type="text" class="form-control input-control-radius" id="lastname" name="lastname"
                           placeholder="lastname" data-ng-model="newCustomer.lastname"/>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group ">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon input-control-radius">
                        <i class="text-muted glyphicon glyphicon-star">
                        </i>
                    </span>
                    <input type="text" class="form-control input-control-radius" id="city" name="city"
                           placeholder="city" data-ng-model="newCustomer.city"/>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group text-right">
                <button type="button" class="btn btn-lg btn-success" data-ng-click="addCustomer()">Add customer</button>
            </div>
        </div>
    </div>

    <!--Customers region-->
    <div class="row">

        <div data-ng-repeat="cust in customers" class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default panel-border">
                <div class="panel-heading panel-header">
                    <h3 class="panel-title panel-foreground">
                        {{cust.firstname}} {{cust.lastname}} id: {{cust.id}}
                        <a href="" data-ng-click="deleteCustomer(cust)" class="glyphicon glyphicon-remove delete-object"></a>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="customer-data-list">
                        <li>{{cust.city}}</li>
                        <li><a href="#">View orders</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>