<div class="container">


    <div class="row">

        <div class="col-md-12">
            <h2>Orders</h2>
        </div>

        <div class="col-md-12" data-ng-repeat="order in orders">

            <div class="panel">
                <div class="panel-heading table-header">{{order.customerName}}</div>
                <table class="table product-table">
                    <thead>
                    <tr>
                        <th width="40%">Product</th>
                        <th width="20%">Quantity</th>
                        <th width="20%" class="currency-th">Unit price</th>
                        <th width="20%" class="currency-th">Total</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr data-ng-repeat="product in order.products">
                        <td>{{product.name}}</td>
                        <td>{{product.quantity}}</td>
                        <td class="currency-td">{{product.unitPrice}} €</td>
                        <td class="currency-td">{{product.unitPrice * product.quantity}} €</td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td class="currency-td">{{order.totalPrice}} €</td>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

</div>